@model List<Category>
<link rel="stylesheet" href="~/css/Category/index.css" />


<div class="header-container w-75 col-12 d-flex justify-content-between align-items-center">
    <h1 class="col-6 col-md-4">Categories</h1>
    <a class="btn btn-success col-5 col-sm-3" asp-action="Create" asp-controller="Category">
        <i class="bi bi-plus-circle"></i>
        Add Categories
    </a>
</div>

<div class="table-container w-75">
    <table class="table table-hover table-bordered">
        <thead class="table-active">
            <tr>
                <th>
                    <h4>Category Name</h4>
                </th>
                <th>
                    <h4>Display Order</h4>
                </th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>

            @foreach (var cat in Model)
            {
                <tr>
                    <th scope="row">@cat.Name</th>
                    <td>@cat.DisplayOrder</td>
                    <td class="text-center">
                        <a asp-area="Admin" asp-controller="Category" asp-action="Edit" class="btn btn-primary" asp-route-id="@cat.Id">
                            <i class="bi bi-pencil-square"></i>
                            Edit
                        </a>
                    </td>
                    <td class="text-center">
                        <form asp-area="Admin" asp-controller="Category" asp-action="Delete" asp-route-id="@cat.Id" method="post">
                            <button type="submit" class="btn btn-danger del-btn">
                                <i class="bi bi-trash3"></i>
                                Delete
                            </button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>

    </table>

</div>

<script src="~/js/Category/index.js"></script>