@using Presentation.VMs
@model List<AllCategoriesVM>
@{
    ViewData["Title"] = "Categories";
}
<style>
    img {
        width: 200px;
        height: auto;
    }
</style>
<div style="text-align: center;">
    <H1 style="color: darkgreen;">Categories List</H1>
</div>

<table class="table teble-bordered table-striped">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Display Order
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.Name
                <td>
                    <img src="~/Images/Categories/@item.imageLoc" class="img-thumbnail" alt="Category Image">
                </td>
            </tr>
        }
    </tbody>
</table>