main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
}


table * {
    transition: 0.3s;
}

tbody tr:hover {
    scale: 1.009;
}

.btn {
    border-radius: 20px;
    transition: 0.3s;
}

.btn:hover {
    transform: scale(1.1);
}

